<p id="notice"><%= notice %></p>

<p>
  <h1><%= @recipe.name %></h1>

  <i> Level: <%= (Level.find @recipe.level_id).name %></i>

    <% if @recipe.vegetarian? %>
        <strong>V</strong>
    <% end %>
    <% if @recipe.vegan? %>
        <strong>VEGAN</strong>
    <% end %>
    <% if @recipe.lactose_free? %>
        <strong>L</strong>
    <% end %>
    <% if @recipe.gluten_free? %>
        <strong>G</strong>
    <% end %>

</p>

<p>


  <strong>Active time: <%= @recipe.active_time %> mins</strong>
  <strong>Inactive time: <%= @recipe.active_time %> mins</strong>
</p>

<p>
  <strong>User:</strong>
  <%= (User.find @recipe.user_id).username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
