
<p>
  <h1><%= @recipe.name %></h1>

  By <%= link_to (User.find @recipe.user_id).username, User.find(@recipe.user_id) %>

    <% if @recipe.vegetarian? %>
        <strong>V</strong>
    <% end %>
    <% if @recipe.vegan? %>
        <strong>VEGAN</strong>
    <% end %>
    <% if @recipe.lactose_free? %>
        <strong>L</strong>
    <% end %>
    <% if @recipe.gluten_free? %>
        <strong>G</strong>
    <% end %>
</p>

<i> Level: <%= (Level.find @recipe.level_id).name %></i>

<p>
  <strong>Active time: <%= @recipe.active_time %> mins</strong>
  <strong>Inactive time: <%= @recipe.active_time %> mins</strong>
</p>

<p>
  <% @recipe.ingredients.each do |ingredient| %>
    <ul><%= ingredient.printtaa %></ul>
  <% end %>
</p>

<p>
  <%= @recipe.description %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
